:host {
	position: absolute;
	inset: 0;
	display: block;
	background-color: var(--md-sys-color-surface-container-highest);
}

#main-container {
	width: min(500px, 100vw);
	height: min(500px, 100vw);
	margin: 0 auto;
}

header {
	padding: 12px 0 12px 12px;
	display: flex;
}

#board {
	width: inherit;
	height: inherit;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	--md-elevation-level: 3;
}

.square {
	width: calc(100% / 8);
	height: calc(100% / 8);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.light.square {
	background-color: var(--md-sys-color-surface-container-lowest);
}
.dark.square {
	background-color: var(--md-sys-color-primary);
	color: var(--md-sys-color-on-primary);
}

:host(.dark) .light.square {
	background-color: var(--md-sys-color-primary);
}
:host(.dark) .dark.square {
	background-color: var(--md-sys-color-surface-container-lowest);
}
